footer .footer_containt {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div img:hover{
  opacity: 0.5;
  
}
footer div img{
  width: 50px;
}
footer div img{
  padding: 10px;;
}
footer .container{
  display: flex;
  justify-content: center ;
  color:white
}